.constructor_list{
    max-height: calc(100vh - 536px);
    overflow-y: scroll;
    gap: 16px;
    margin-right: -8px;
}
.constructor_element{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
.sum{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.sum svg{
    width: 36px;
    height: 36px;
}
.sum button{
    margin-left: 40px; 
}